# OS X randomness
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/.DS_Store

D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/.DS_Store

# build products
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/build/
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/out/

D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/build/
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/out/

# IntelliJ
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/.idea/
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/*.iml

D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/.idea/
*.iml

# Vim swap files
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/.*.sw*

D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/.*.sw*


# gradle
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/.gradle/
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/.gradletasknamecache
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Genesis_x_Spacebeat/Final_SampleApk_Genesis_x_Spacebeat_TUNSA_SR_3rd_Kibo_RPC/local.properties

D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/.gradle/
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/.gradletasknamecache
D:/PROJECTS PORTFOLIO/GitHub/tunsa-sr-3rd-kibo-rpc/TUNSA_Teams/Prime_x_Bondowoso3/Final_submission/Final_APK_Prime_Team_Final_Round_TUNSA_SR_3rd_Kibo_RPC/local.properties